/********************************************************************************************
		Stylesheet for the application webpage
		
Description: This file contains all layout and design styles to format the webpage application.html
Authors: Nicholas Schiestel and Johanna Moellmann

********************************************************************************************
Content

1. General document properties

2. Header
    2.1 Logo
    2.2 Area for number of measurement points
    2.3 Filter area
        2.3.1 Additions to the calendar selection
        2.3.2 Input fields

3. Map
    3.1 Navigation elements
    3.2 Size of the navigation element pictures
    3.3 Localization element
    3.4 Leaflet map-layer
    3.5 Legend
    3.6 Visualisation button
    3.7 Download button for interpolation results

4. Sidebar
    4.1 Selection tools
    4.2 Buttons of the selection tools
    4.3 Addition areas for the functions byTrack or byPolygon
    4.4 Selected points area
    4.5 Selected points table 
    4.6 Analyse area
        4.6.1 Textual results
        4.6.2 Diagram preview picture
    4.7 Interpolation area

5. Footer
    5.1 Footer text on the left side
    5.2 Footer links on the right side

6. Special settings for page formatting
    6.1 Float clearing 
    6.2 Headings
    6.3 Dividing lines
    6.4 Buttons
        6.4.1 Green submit-button
        6.4.2 Red cancel-button
        6.4.3 Blue button
        6.4.4 Info-buttons
        6.4.5 jQuery UI dialog button
    6.5 Blue links
    6.6 Loading picture in popups 
    6.7 Measurement data details table
    6.8 Diagram popup
    6.9 Pulsing location-marker

*********************************************************************************************/


/***********************************************
    1. General document properties
***********************************************/
html {
    position: relative;
    height: 100%;
    width:100%;
}

body {
    background-color:rgb(252,252,252);
    margin-left:0%;
    margin-right:0%;
    word-wrap:break-word;
    font-family:Droid Sans; /*, Helvetica, Arial;*/
    position: relative;
    height: 100%;
    width:100%;
}

header, footer, map {
    display:block;
}

/***********************************************
    2. Header
***********************************************/
header {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 10%;  
    width: 100%;
    font-size:10pt;
}

/***********************************************
    2.1 Logo
***********************************************/
#banner {
    float: left;
    width:auto;
    border:0px;
	margin-left:1%;
    margin-top:1%;
}

.logoImage {
    width:160px;
    height:70px;
    border:0px;
}

/***********************************************
    2.2 Area for number of measurement points
***********************************************/
#maxOfMeasurements {
    float: right;
    width: auto;
    height:50px;
    background-color:rgb(255,255,255);
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    margin-top:1%;
    margin-left: 1%;
    margin-right: 1%;
    padding-left:10px;
    padding-right:10px;
    padding-top:25px;
    color:rgb(22,127,193);
}

#maxOfMeasurements ul {
    list-style-type: none;
    display: inline;
    margin-top:0px;
    margin-left:0px;
    margin-bottom:0px;
    margin-right:0px;
    padding:0px;
}

#maxOfMeasurements li {
    display: table-cell;
    padding-left:5px;
}


/***********************************************
    2.3 Filter area
***********************************************/
#filter {
    float: right;
    width: auto;
    margin-right: 1%;
    margin-top:1%;
    height:auto;
    background-color:rgb(255,255,255);
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}

#filter_1 {
    float:right;
    margin-left:5px;
    margin-right:5px;
    text-align:left;
    font-size:12pt;
    font-weight:bold;
    color:rgb(22,127,193);
    padding-left:15px;
    padding-right:25px;
    padding-top:15px;
    height:60px;
    border-right:2px dotted rgb(22,127,193);
    width:auto;
}

#filter_2 {
    float:right;
    margin-left:10px;
}

#filter_2 table {
    border:0px;
}


/***********************************************
    2.3.1 Additions to the calendar selection
***********************************************/
.ui-datepicker {
	 z-index: 9999999999 !important;
}



/***********************************************
    2.3.2 Input fields
***********************************************/
.filterButton{
    border: 2px solid rgb(22,127,193);
    padding:5px;
    border-radius:2px;
    background-color:rgb(255,255,255);
}

.filterButton:hover, .filterButton:active {
    border: 2px solid rgb(22,127,193);
    padding:5px;
    border-radius:2px;
    background-color:rgb(248,248,248);
}

#Sensor_ID, #Track_ID {
    width:200px;
}


/***********************************************
    3. Map
***********************************************/
#map {
    float: left;
    width: 73%;
    min-height: 84%;
    margin-top: 1%;
    margin-left:1%;
    margin-right:1%;
    margin-bottom:1%;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
    z-index: 9;
    position:relative;
    
}


/***********************************************
    3.1 Navigation elements
***********************************************/
#pan {
    position: absolute;
    top: 10px;
    left: 48px;
    z-index: 999;
}


.panelement {
    background:rgb(255,255,255);
    top: 0;
    position: absolute;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor:pointer;
    font-size: 20px;
    font: bold 18px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
}
.panelement:hover {
    background:rgb(244,244,244);
    top: 0;
    position: absolute;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    color: rgb(0,0,0);
    cursor:pointer;
    font-size: 20px;
    font: bold 18px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
}


#pan .panelement#left {    
    top:26px;
    left:0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

#pan .panelement#right {
    top: 26px;
    left: 52px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

#pan .panelement#down {
    top: 52px;
    left: 26px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

#pan .panelement#up {
    top: 0px;
    left: 26px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.4);
}

/***********************************************
    3.2 Size of the navigation element pictures
***********************************************/
.panLeft, .panRight{
    width:12px;
    height:12px;
    border:0px;
    display: block;
    margin: 6px auto 6px auto;
}
.panDown, .panUp{
    width:12px;
    height:12px;
    border:0px;
    display: block;
    margin: 6px auto 6px auto;
}

.imageLocateMe {
    width:16px;
    height:16px;
    border:0px;
    display: block;
    margin: 3px auto 3px auto;
}

/***********************************************
    3.3 Localization element
***********************************************/
.panelementMiddle {
    background:rgb(255,255,255);
    top: 0;
    position: absolute;
    width: 24px;
    height: 24px;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor:pointer;
    font-size: 20px;
    font: bold 18px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    border:1px solid rgb(204,204,204);
}

.panelementMiddle:hover {
    background:rgb(244,244,244);
    top: 0;
    position: absolute;
    width: 24px;
    height: 24px;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor:pointer;
    font-size: 20px;
    font: bold 18px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    border:1px solid rgb(204,204,204);
}

#locateMe {
    top:26px;
    left:26px;
}


/***********************************************
    3.4 Leaflet map-layer
***********************************************/
.leaflet-map-pane {
    z-index: 2 !important;
}

.leaflet-google-layer {
    z-index: 1 !important;
}

/***********************************************
    3.5 Legend 
        (default setting: hidden;
         is shown when IDW or kriging was executed)
***********************************************/
#legende {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 999;
    width: 130px;
    min-height: 100px;
    background-color: rgb(255,255,255);
    border-radius: 4px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
    display:none;
    font-size: 8pt;
    padding: 5px;  
    background-position: 50% 50%;
    
}

#interpolationClasses table {
    border:0px;
    margin:0;
    border-collapse: collapse;
    width:100%;
}

#interpolationClasses table td {
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:2px;
}

#interpolationClasses_red {
    background-color: rgb(255,0,0);
    width:25px;
}

#interpolationClasses_orange {
    background-color: rgb(255,165,0);
    width:25px;
}

#interpolationClasses_yellow {
    background-color: rgb(255,255,0);
    width:25px;
}

#interpolationClasses_green {
    background-color: rgb(140,188,62);
    width:25px;
}

#interpolationClasses_dark_green {
    background-color: rgb(34,139,34);
    width:25px;
}



/***********************************************
    3.6 Visualisation button
        (default setting: hidden;
         is shown when a visualisation was executed;
         is shown when IDW or kriging was executed)
***********************************************/
#visualisation {
    position: absolute;
    top: 53px;
    right: 10px;
    z-index: 999;
    width:36px;
    height:36px;
    display:none;
}

.imageVisualisation {
    height:28px;
    width:30px;
    margin-top:5px;
}

.visualisationElement {
    background:rgb(255,255,255);
    width: 36px;
    height: 36px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor:pointer;
    font-size: 20px;
    font: bold 18px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    border-radius: 4px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
}


.visualisationElement:hover {
    background:rgb(244,244,244);
    width: 36px;
    height: 36px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    color: rgb(0,0,0);
    cursor:pointer;
    font-size: 20px;
    font: bold 18px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    border-radius: 4px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
}

/***********************************************
    3.7 Download button for interpolation results
        (default setting: hidden;
         is shown when IDW or kriging was executed)
***********************************************/
#interpolationDownload {
    position: absolute;
    top: 96px;
    right: 10px;
    z-index: 999;
    display:none;
    width:36px;
    height:36px;
}

.download_2 {
    height:26px;
    width:26px;
    margin-top:5px;
}


/***********************************************
   4. Sidebar
***********************************************/
#sidebar{
    width:24%;
    float:left;
    min-height:auto;
    margin-right:1%;
    padding-bottom:1%;
}

.sidebarElement {
    background-color:rgb(255,255,255);
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}

.sidebarSubElement {
    padding-left:5px;
    padding-right:5px;
}

/***********************************************
    4.1 Selection tools
***********************************************/
#selection {
    width:auto;
    text-align:left;
    padding-bottom:1px;
}

#chooser {
    text-align:center;
    padding-right: 10%;
}

/* ul */
.chooserTools  {
    list-style:none;
    margin:0;
    padding:0;
}

/* li's */
#chooseSinglePoint, #chooseTrack, #choosePolygon {
    display:inline-block;
	list-style-type: none;
}

#chooseSinglePoint a, #chooseTrack a, #choosePolygon a { 
    display: block;  
    height: 50px;
    width: 50px;
    color: transparent;
    text-decoration: none;
    border:3px solid rgb(140,188,62);
    border-radius: 50px;
    cursor:pointer;
}


/***********************************************
    4.2 Buttons of the selection tools 
***********************************************/
#chooseSinglePoint a {
    display: block;
    background: transparent url(../images/bySinglePoint.png) center no-repeat;
    background-size: 35px 35px;
}
    
#chooseSinglePoint a:hover {
    display: block;
    background-color:rgb(248,248,248);
}
    
#chooseTrack a {
    display: block;
    background: transparent url(../images/byTrack.png) center no-repeat;
    background-size: 35px 35px;
}
    
#chooseTrack a:hover {
    display: block;
    background-color:rgb(248,248,248);
}

#choosePolygon a {
    display: block;
    background: transparent url(../images/byPolygon.png) center no-repeat;
    background-size: 35px 35px;
}
    
#choosePolygon a:hover {
    display: block;
    background-color:rgb(248,248,248);
}


/***********************************************
    4.3 Addition areas for the functions 
        byTrack or byPolygon
        (default setting: hidden;
        is shown when selection tool byTrack or byPolygon 
        is active)
***********************************************/
.center {
    text-align: center;
    position:relative;
    z-index: 3;
}


#drawingPolygon, #selectTrack {
    display:none;
    margin-bottom:3px;
}

.drawingElementContent table, .drawingElementContent table tr,
.selectTrackContent table, .selectTrackContent table tr {
    width:100%;
    border:0px;
}

.drawingElementTitle, .selectTrackTitle {
    font-size:11pt;
    color:rgb(255,165,0);
    z-index: 3;
    background-color:rgb(255,255,255);
    padding-left:10px;
    padding-right:10px;
    padding-top:3px;
    padding-bottom:3px;
}

.drawingElementContent, .selectTrackContent {
    font-size:10pt;
    color:rgb(0,0,0);
    padding-left:2px;
    padding-right:2px;
    padding-bottom:3px;
    margin-top:-10px;
    margin-left:3px;
    margin-right:3px;
    border: 1.5px solid rgb(255,165,0);
    background-color:rgb(255,255,255);
    height:auto;
    z-index: 1;
}


/***********************************************
    4.4 Selected points area
        (default setting: hidden;
        is shown when at least one points is selected)
***********************************************/
#selectedPointsBox {
    display:none;
    font-size: 9pt;
}

.deleteOptions  {
    margin:0px;
	padding:0px;
    list-style-type: none;
    display: inline;
}

.deleteOptions li  {
    margin:0px;
    padding-right:5px;
    padding-left:2px;
    display: table-cell;
    
}

.downloadButton {
    width:10px;
    height:13px;
    text-decoration: none;
    border:1px solid rgb(255,255,255);
    padding:1px;
}


/***********************************************
    4.5 Selected points table 
        (default setting: hidden;
        is shown when at least one points is selected)
***********************************************/
#pointTable {
    margin:0;
    padding:0;
    overflow: scroll;
    max-height: 130px;
}

#pointTable table{
    border:0px;
    margin-top:0;
    margin-bottom:10px;
    border-collapse: collapse;
    width:100%;
}

#pointTable table th {
    border-bottom:1px solid rgb(0,0,0);
    padding:2px;
    margin: 0;
    outline: 0;
    text-align: left;
}

#pointTable table td {
    padding:2px;
    margin: 0;
    outline: 0;
    text-align: left;
}


/***********************************************
    4.6 Analyse area
    (default setting: hidden)
***********************************************/
#analyse {

}

#analyseBox {
    display:none;
    font-size:9pt;
}

#analyseBox ul {
    list-style-type: none;
    display: table;
    margin:0px;
    padding:0px;
}

#analyseBox li {
    display: table-cell;
    padding-left:3px;
    font-size:11pt;
    font-weight:bold;
}



/***********************************************
    4.6.1 Textual results
***********************************************/
#textualresults table{
    border:0px;
    margin-left:auto; 
    margin-right:auto;
    margin-top:0;
}


/***********************************************
    4.6.2 Diagram preview picture
***********************************************/
#diagrammPreview {
    text-align:center;
}
.diagrammPreview {
    width:140px;
    height:100px;
    border:5px solid rgb(140,188,62);
    border-radius:3px;
}
.diagrammPreview:hover {
    width:140px;
    height:100px;
    border:5px solid rgb(140,188,62);
    border-radius:3px;
    background-color: rgb(248,248,248);
}


/***********************************************
    4.7 Interpolation area
    (default setting: hidden)
***********************************************/
#interpolation {

}

#interpolationBox {
    display:none;
    font-size:10pt;
}

#interpolationBox ul {
    list-style-type: none;
    display: inline;
    margin:0px;
    padding:0px;
}

#interpolationBox li {
    display: table-cell;
    padding-left:3px;
    font-size:11pt;
    font-weight:bold;
}

#idwBox, #krigingBox {
    display: none;
}

#krigingBox table {
    font-size:10pt;
    border-bottom: 1px solid rgb(204,204,204);
    width:100%;
}

#krigingBox table td {
    height:30px;
}

.right {
    text-align: right;
    padding-right:10px;
    padding-bottom: 10px;
    padding-top: 3px;
}



/***********************************************
    5. Footer
***********************************************/
footer {
    background-color:rgb(22,127,193);
    position:relative;
    bottom:0px;
    height:auto;
    clear:both;
    margin-left:0%;
    margin-right:0%;
    width: 100%;
    color: rgb(255,255,255);
}


#footerLine_1 {
    background-color:rgb(140,188,62);
    margin-left:0%;
    margin-right:0%;
    height:5px;
    width:100%;
}


#footerLine_2 {
    background-color: rgb(60,164,116);
    margin-left:0%;
    margin-right:0%;
    height:5px;
    width:100%;
}

/***********************************************
    5.1 Footer text on the left side
***********************************************/
#footerText {
    height: 30px;
    padding-left:1%;
    padding-right:0%;
    padding-top:5px; 
    padding-bottom:5px;
    float: left;
    margin-left:0%;
    width:39%;
    background-color:rgb(22,127,193);
}


/***********************************************
    5.2 Footer links on the right side
***********************************************/
#footerShortLinks {
    height: 30px;
    padding-left:0%;
    padding-right:10%;
    padding-top:-15px;
    padding-bottom:10px;
    margin-right:0%;
    width:50%;
    float:left;
    background-color:rgb(22,127,193);
    text-align:right;
}

#footerShortLinks li{
    display: inline;
    margin-left:10px;
    
}
#footerShortLinks ul {
    list-style-type: none;
}

#footerText  a {
    color:rgb(255,255,255);
    text-decoration:none;
}

#footerText  a:hover {
    color:rgb(255,255,255);
    text-decoration:underline;
}

#footerShortLinks a {
    color:rgb(255,255,255);
    text-decoration:none;
    font-weight:bold;
}

#footerShortLinks a:hover {
    color:rgb(255,255,255);
    text-decoration:underline;
    font-weight:bold;
}


/***********************************************
    6. Special settings for page formatting 

    6.1 Float clearing 
***********************************************/
#clear {
    clear:both;
}


/***********************************************
    6.2 Headings
***********************************************/
h2 {
    font-size:12pt;
    color:rgb(22,127,193);
    border-bottom:2px dotted rgb(22,127,193);
    padding:10px;
}

h3 {
    font-size:11pt;
}


/***********************************************
    6.3 Dividing lines
***********************************************/
hr {
    background-color: rgb(204,204,204);
    height:1px;
    border:0px;
}


/***********************************************
    6.4 Buttons

    6.4.1 Green submit-button
***********************************************/
.submitButton {
    border: 2px solid rgb(140,188,62);
    padding:5px;
    border-radius:15px;
    background-color:rgb(140,188,62);
    color:rgb(255,255,255);
    font-weight:bold;
    cursor:pointer;
}

.submitButton:hover, .submitButton:active{
    border: 2px solid rgb(140,188,62);
    padding:5px;
    border-radius:15px;
    background-color:rgb(140,188,62);
    color:rgb(255,255,255);
    font-weight:bold;
    text-decoration:underline;
    cursor:pointer;
}


/***********************************************
    6.4.2 Red cancel-button (e.g. cancel
          drawing a polygon)
***********************************************/
.cancelButton {
    border: 2px solid rgb(255,0,0);
    padding:5px;
    border-radius:15px;
    background-color: rgb(255,0,0);
    color:rgb(255,255,255);
    font-weight:bold; 
}

.cancelButton:hover, .cancelButton:active{
    border: 2px solid rgb(255,0,0);
    padding:5px;
    border-radius:15px;
    background-color: rgb(255,0,0);
    color:rgb(255,255,255);
    font-weight:bold;
    text-decoration:underline;
}


/***********************************************
    6.4.3 Blue button (e.g. reset a polygon)
***********************************************/
.blueButton {
    border: 2px solid rgb(22,127,193);
    padding:5px;
    border-radius:15px;
    background-color: rgb(22,127,193);
    color:rgb(255,255,255);
    font-weight:bold; 
}
.blueButton:hover, .blueButton:active{
    border: 2px solid rgb(22,127,193);
    padding:5px;
    border-radius:15px;
    background-color: rgb(22,127,193);
    color:rgb(255,255,255);
    font-weight:bold;
    text-decoration:underline;
}

/***********************************************
    6.4.4 Info-buttons (i-buttons for tooltips)
***********************************************/
.info {
    background:rgb(255,255,255);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
    color: rgb(0,0,0);
    font-weight:bold;
    text-align: center;
    border-radius: 12pt;
    border: 1px solid rgb(204,204,204);
    font-weight:bold;
    font-family:Lucida Console;
    font-size: 12pt;
}

.info:hover {
    background:rgb(244,244,244);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
    color: rgb(0,0,0);
    font-weight:bold;
    text-align: center;
    border-radius: 12pt;
    border: 1px solid rgb(204,204,204);
    font-weight:bold;
    font-family:Lucida Console;
    font-size: 12pt;
}

/***********************************************
    6.4.5 jQuery UI dialog button (sourcecode of 
          jQuery UI)
***********************************************/
.jQueryButton {
    -webkit-appearance: none;
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-writing-mode: horizontal-tb;
    align-items: flex-start;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(230, 230, 230);
    background-image: url(http://code.jquery.com/ui/1.10.3/themes/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png);
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(211, 211, 211);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(211, 211, 211);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(211, 211, 211);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(211, 211, 211);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    cursor: pointer;
    display: inline-block;
    font-family: Verdana, Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    height: 40px;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 8px;
    margin-left: 0px;
    margin-right: 7px;
    margin-top: 8px;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 7px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 7px;
    position: relative;
    text-align: center;
    text-decoration: none solid rgb(85, 85, 85);
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
    width: auto;
    word-spacing: 0px;
}

.jQueryButton:hover {
    background-color: rgb(211, 211, 211);
    background-image: url(http://code.jquery.com/ui/1.10.3/themes/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png);
    background-size: auto;
    border-bottom-color: rgb(85, 85, 85);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(85, 85, 85);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(85, 85, 85);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(85, 85, 85);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-family: Verdana, Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    height: 40px;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 8px;
    margin-left: 0px;
    margin-right: 7px;
    margin-top: 8px;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 7px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 7px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
    width: auto;
    word-spacing: 0px;
}


/***********************************************
    6.5 Blue links
***********************************************/
.link {
    color:rgb(22,127,193);
    text-decoration:none;
    cursor:pointer;
}

.link:hover {
    color:rgb(22,127,193);
    text-decoration:underline;
    cursor:pointer;
}


/***********************************************
    6.6 Loading picture in popups 
***********************************************/
.loading_box{
    text-align:center;
    margin-top:50px;
}

.loading_picture{
    width:50px;
    height:48px;
}


/***********************************************
    6.7 Measurement data details table
***********************************************/
#measurementDetails {
    font-size: 8pt;
    overflow: scroll;
    padding-left:2px;
    padding-right:15px;
}

#measurementDetails table {
    border-top:1px solid rgb(0,0,0);
    border-bottom:1px solid rgb(0,0,0);
    border-left:1px solid rgb(0,0,0);
    border-right:1px solid rgb(0,0,0);
    margin:0 auto;
    width:100%;
    display: table;
    border-collapse: collapse;
}

#measurementDetails table tr {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    display: table-row;
}

#measurementDetails table th {
    border-bottom:1px solid rgb(0,0,0);
    padding:2px;
    margin: 0;
    outline: 0;
    text-align: left;
}

#measurementDetails table td {
    border-bottom:1px solid rgb(0,0,0);
    padding:2px;
    margin: 0;
    outline: 0;
    text-align: left;
}


/***********************************************
    6.8 Diagram popup
***********************************************/
#diagramBar {
    margin: 0 auto;
    text-align: center;
    width:100%;
    border-bottom: 2px dotted rgb(22,127,193);
    font-size: 11pt;
    color: rgb(22,127,193);
}

#diagramBar ul {
    list-style:none;
    margin:0;
    padding:0;
}
#diagramBar li {
    display:inline-block;
	list-style-type: none;
    margin-left:10px;
    margin-right:10px;
    color:rgb(22,127,193);
    padding-bottom:5px;
}

#diagram_zeichnung {
    text-align: center;
}


/***********************************************
    6.9 Pulsing location-marker
***********************************************/
.locationIcon {
}

.pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #00cae9;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}
.pin:after {
  content: "";
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: #e6e6e6;
  position: absolute;
  border-radius: 50%;
}

.bounce {
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.pulse {
  background: rgba(214,212,212,0.5); /*#d6d4d4;*/
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0px 0px -12px;
  transform: rotateX(55deg);
  z-index: -2;
}
.pulse:after {
  content: "";
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -13px 0 0 -13px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 2px #00cae9;
  animation-delay: 1.1s;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }

  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }

  80% {
    transform: translateY(-10px) rotate(-45deg);
  }

  100% {
    transform: translateY(0) rotate(-45deg);
  }
}