body {
    background-color:rgb(252,252,252);
    margin-left:0%;
    margin-right:0%;
    word-wrap:break-word;
    font-family:Droid Sans; /*, Helvetica, Arial;*/
}


header, footer, map {
    display:block;
}

/* Header */
header {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 80px;  
    width: 100%;
}

#banner {
    float: left;
    width:13%;
    height:50px;
    border:0px;
    margin-top:10px;
    margin-left:1%;
    margin-right:1%;
}

.logoImage {
    width:150px;
    height:50px;
    border:0px;
}

#filter {
    float: left;
    width: 55%;
    background-color:red;
}

#chooser {
    float: right;
    width: 30%;
    background-color:green;
}

/* Navigationsbereich 
nav {
    text-align:center;
    margin-top: 30px;
    margin-left:10%;
    margin-right:10%;
    background-color:rgb(22,127,193);
    margin-bottom:30px;
    height: 44px;
    border-radius:5px;
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px#999;
    box-shadow: 0 0 5px #999;
}

nav ul {
    list-style-type: none;
    
    
}

nav li {
    display: inline;
}

nav ul a{
    color: rgb(255,255,255);
    margin-left: 20px;
    margin-right: 20px;
    text-decoration:none;
    letter-spacing: 0.5px;
    font-size:20px;
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
    display:inline-block;
    vertical-align:middle;
    background-color:rgb(255,255,255);
}

nav ul a:hover{
    color:rgb(22,127,193);
    margin-left: 20px;
    margin-right: 20px;
    text-decoration:none;
    letter-spacing: 0.5px;
    font-size:20px;
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
    display:inline-block;
    vertical-align:middle;
    background-color:rgb(255,255,255);
}

nav ul a>.active{
    color: rgb(255,255,255);
    margin-left: 20px;
    margin-right: 20px;
    text-decoration:underline;
    letter-spacing: 0.5px;
    font-size:20px;
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
    display:inline-block;
    vertical-align:middle;
}
*/

/* Karte */
#map {
    float: left;
    width: 80%;
    min-height: 500px;
    margin: 0px;
    border-top:5px solid rgb(212,212,212);
    border-right:5px solid rgb(212,212,212);
}

/* Seiteninhalt 
article {
    background-color:rgb(255,255,255);
    margin-left:10%;
    margin-right:10%;
    height: auto;
    border-radius: 5px;
    margin-bottom:30px;
    padding: 50px;
    
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}
*/


/* Fußzeile */
footer {
    clear: left;
    background-color:rgb(140,188,62);
    margin-left:0%;
    margin-right:0%;
    width: 100%;
    color: rgb(255,255,255);
}

/*
#footerLine_1 {
    background-color:rgb(140,188,62);
    margin-left:0%;
    margin-right:0%;
    height:30px;
    width:100%;
}
*/

#footerLine_2 {
    background-color:rgb(212,212,212);
    margin-left:0%;
    margin-right:0%;
    height:5px;
    width:100%;
}

#footerText {
    height: 60px;
    padding-left:10%;
    padding-right:10%;
    padding-top:60px; 
    padding-bottom:20px;
}

#footerShortlinks {
    height: 60px;
    padding-left:10%;
    padding-right:10%;
    padding-top:60px; 
    padding-bottom:20px;
}



