/***********************************************
    Allgemeine Dokumenteigenschaften
***********************************************/
html {
    position: relative;
    height: 100%;
    width:100%;
}

body {
    background-color:rgb(252,252,252);
    margin-left:0%;
    margin-right:0%;
    word-wrap:break-word;
    font-family:Droid Sans; /*, Helvetica, Arial;*/
    position: relative;
    height: 100%;
    width:100%;
}

header, footer, map {
    display:block;
}

#clear {
    clear:both;
}



/***********************************************
    Header

    - auf der linken Seite befindet sich das Logo
    - auf der rechten Seite befindet sich der Filterbereich
***********************************************/
header {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 10%;  
    width: 100%;
    font-size:10pt;
}

#banner {
    float: left;
    width:19%;
    border:0px;
	margin-left:1%;
    margin-top:1%;
}

.logoImage {
    width:160px;
    height:70px;
    border:0px;
}



/***********************************************
    Filterbereich
***********************************************/
#filter {
    float: right;
    width: auto;
	margin-left: 1%;
    margin-right: 1%;
    margin-top:1%;
    height:auto;
    background-color:rgb(255,255,255);
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}

#filter_1 {
    float:right;
    margin-left:5px;
    margin-right:5px;
    text-align:left;
    font-size:12pt;
    font-weight:bold;
    color:rgb(22,127,193);
    padding-left:15px;
    padding-right:25px;
    padding-top:15px;
    height:60px;
    border-right:2px dotted rgb(22,127,193);
}

#filter_2 {
    float:right;
    margin-left:10px;
}

#filter_2 table {
    border:0px;
}


/***********************************************
    Ergänzungen zur Kalenderauswahl
***********************************************/
.ui-datepicker {
	 z-index: 9999999999 !important;
}



/***********************************************
    Inputfelder im Filterbereich
***********************************************/
.filterButton{
    border: 2px solid rgb(22,127,193);
    padding:5px;
    border-radius:2px;
    background-color:rgb(255,255,255);
}

.filterButton:hover, .filterButton:active {
    border: 2px solid rgb(22,127,193);
    padding:5px;
    border-radius:2px;
    background-color:rgb(248,248,248);
}



/***********************************************
    Links (blau), genutzt im
    - Filterbereich
    - Seletierten Punkte
    - Popups
***********************************************/
.link {
    color:rgb(22,127,193);
    text-decoration:none;
    cursor:pointer;
}

.link:hover, .link:active {
    color:rgb(22,127,193);
    text-decoration:underline;
    cursor:pointer;
}



/***********************************************
    Auswahlbuttons im Filterbereich
***********************************************/
.selectButton {
    width:50px;
    height:50px;
    background-color:transparent;
    cursor: pointer;
    border:0px;
}

.selectButton:hover {
    width:50px;
    height:50px;
    background-color:transparent;
    cursor: pointer;
    border:0px;
}


/***********************************************
    Bestätigungsbuttons (grün), genutzt
    - im Filterbereich
    - in der Trackauswahl
    - im der Polygonselektion
    - im Interpolationsbereich
***********************************************/
.submitButton {
    border: 2px solid rgb(140,188,62);
    padding:5px;
    border-radius:15px;
    background-color:rgb(140,188,62);
    color:rgb(255,255,255);
    font-weight:bold;
    cursor:pointer;
}

.submitButton:hover, .submitButton:active{
    border: 2px solid rgb(140,188,62);
    padding:5px;
    border-radius:15px;
    background-color:rgb(140,188,62);
    color:rgb(255,255,255);
    font-weight:bold;
    text-decoration:underline;
    cursor:pointer;
}



/***********************************************
    Karte
***********************************************/
#map {
    float: left;
    width: 73%;
    min-height: 84%;
    margin-top: 1%;
    margin-left:1%;
    margin-right:1%;
    margin-bottom:1%;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
    z-index: 9;
    position:relative;
}


/***********************************************
    Navigationselemente der Karte
***********************************************/
#pan {
    position: absolute;
    top: 10px;
    left: 48px;
    z-index: 999;
}


.panelement {
    background:rgb(255,255,255);
    top: 0;
    position: absolute;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor:pointer;
    font-size: 20px;
    font: bold 18px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
}


.panelement:hover {
    background:rgb(244,244,244);
    top: 0;
    position: absolute;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    color: rgb(0,0,0);
    cursor:pointer;
    font-size: 20px;
    font: bold 18px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
}



#pan .panelement#left {    
    top:26px;
    left:0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    display:block;
}

#pan .panelement#right {
    top: 26px;
    left: 52px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

#pan .panelement#down {
    top: 52px;
    left: 26px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

#pan .panelement#up {
    top: 0px;
    left: 26px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.65);
}
/***********************************************
    Größen der Bilder
***********************************************/
.panLeft, .panRight{
    width:12px;
    height:12px;
    border:0px;
    display: block;
    margin: 6px auto 6px auto;
}
.panDown, .panUp{
    width:12px;
    height:12px;
    border:0px;
    display: block;
    margin: 6px auto 6px auto;
}

.imageLocateMe {
    width:16px;
    height:16px;
    border:0px;
    display: block;
    margin: 3px auto 3px auto;
}

/***********************************************
    Lokalisierungselement
***********************************************/
.panelementMiddle {
    background:rgb(255,255,255);
    top: 0;
    position: absolute;
    width: 24px;
    height: 24px;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor:pointer;
    font-size: 20px;
    font: bold 18px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    border:1px solid rgb(204,204,204);
}

.panelementMiddle:hover {
    background:rgb(244,244,244);
    top: 0;
    position: absolute;
    width: 24px;
    height: 24px;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor:pointer;
    font-size: 20px;
    font: bold 18px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    border:1px solid rgb(204,204,204);
}

#locateMe {
    top:26px;
    left:26px;
}


/***********************************************
    Leaflet-Kartenlayer
***********************************************/
.leaflet-map-pane {
    z-index: 2 !important;
}

.leaflet-google-layer {
    z-index: 1 !important;
}



/***********************************************
    Sidebar, bestehend aus 
    - Selektion
    - Analyse
    - Interpolation
***********************************************/
#sidebar{
    width:24%;
    float:left;
    min-height:auto;
    margin-right:1%;
    padding-bottom:1%;
}

.sidebarElement {
    background-color:rgb(255,255,255);
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}

.sidebarSubElement {
    padding-left:5px;
    padding-right:5px;
}


/***********************************************
    Überschriften in der Sidebar
***********************************************/
h2 {
    font-size:12pt;
    color:rgb(22,127,193);
    border-bottom:2px dotted rgb(22,127,193);
    padding:10px;
}

h3 {
    font-size:11pt;
}


/***********************************************
    Selektionswerkzeuge
***********************************************/
#selection {
    width:auto;
    text-align:left;
}

#chooser {
    text-align:center;
    padding-right: 10%;
}

/* ul */
.chooserTools  {
    list-style:none;
    margin:0;
    padding:0;
}

/* li's */
#chooseSinglePoint, #chooseTrack, #choosePolygon {
    display:inline-block;
	list-style-type: none;
}

#chooseSinglePoint a, #chooseTrack a, #choosePolygon a { 
    display: block;  
    height: 50px;
    width: 50px;
    color: transparent;
    text-decoration: none;
    border:3px solid rgb(140,188,62);
    border-radius: 50px;
    cursor:pointer;
}


/***********************************************
    Buttons der Selektionsmethoden
***********************************************/
#chooseSinglePoint a {
    display: block;
    background: transparent url(../images/bySinglePoint.png) center no-repeat;
    background-size: 35px 35px;
}
    
#chooseSinglePoint a:hover {
    display: block;
    background-color:rgb(248,248,248);
}
    
#chooseTrack a {
    display: block;
    background: transparent url(../images/byTrack.png) center no-repeat;
    background-size: 35px 35px;
}
    
#chooseTrack a:hover {
    display: block;
    background-color:rgb(248,248,248);
}

#choosePolygon a {
    display: block;
    background: transparent url(../images/byPolygon.png) center no-repeat;
    background-size: 35px 35px;
}
    
#choosePolygon a:hover {
    display: block;
    background-color:rgb(248,248,248);
}


/***********************************************
    Bereich
    - für Tracksuche 
    - Raumausschnitt zeichnen
    (standardmäßig ausgeblendet)
***********************************************/
.center {
    text-align: center;
    position:relative;
    z-index: 3;
}

#drawingPolygon, #selectTrack {
    display:none;
    margin-top:20px;
}

.drawingElementTitle, .selectTrackTitle {
    font-size:11pt;
    color:rgb(255,165,0);
    z-index: 3;
    background-color:rgb(255,255,255);
    padding-left:10px;
    padding-right:10px;
    padding-top:3px;
    padding-bottom:3px;
}

.drawingElementContent, .selectTrackContent {
    font-size:10pt;
    color:rgb(0,0,0);
    padding-left:2px;
    padding-right:2px;
    padding-bottom:3px;
    margin-top:-10px;
    margin-left:3px;
    margin-right:3px;
    border: 1.5px solid rgb(255,165,0);
    background-color:rgb(255,255,255);
    height:auto;
    z-index: 1;
}

/***********************************************
    Reset-Button (rot) beim Polygon zeichnen
***********************************************/
.resetButton {
    border: 2px solid rgb(255,0,0);
    padding:5px;
    border-radius:15px;
    background-color: rgb(255,0,0);
    color:rgb(255,255,255);
    font-weight:bold; 
}

.resetButton:hover, .resetButton:active{
    border: 2px solid rgb(255,0,0);
    padding:5px;
    border-radius:15px;
    background-color: rgb(255,0,0);
    color:rgb(255,255,255);
    font-weight:bold;
    text-decoration:underline;
}

/***********************************************
    Bereich und Tabelle der selektierten Punkte
    (standardmäßig eingeblendet)
***********************************************/
#selectedPointsBox {
    display:block;
    font-size: 9pt;
}

.deleteOptions  {
    margin:0px;
	padding:0px;
    display:inline;
}

.deleteOptions li  {
    float:left;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:3px;
    margin-right:10px;
	padding:0px;
    list-style-type:none;
}

/***********************************************
    Punkttabelle 
    (füllt sich, sobald Punkte selektiert werden)
***********************************************/

#pointTable {
    margin:0;
    padding:0;
    overflow: scroll;
    max-height: 220px;
}

#pointTable table{
    border:0px;
    margin-left:auto; 
    margin-right:auto;
    margin-top:0;
    margin-bottom:10px;
}


/***********************************************
    Messdatendetailtabelle
***********************************************/

#measurementDetails {
       
}
/***********************************************
    Analysebereich
    (standardmäßig ausgeblendet)
***********************************************/
#analyse {}

#analyseBox {
    display:block;
    font-size:9pt;
}

#analyseBox ul {
    list-style-type: none;
    display: table;
    margin:0px;
    padding:0px;
}

#analyseBox li {
    display: table-cell;
    padding-left:3px;
    font-size:11pt;
    font-weight:bold;
}



/***********************************************
    Tabelle der allgemeinen Analysen:
    - MEAN
    - STD
    - usw.
***********************************************/
#textualresults table{
    border:0px;
    margin-left:auto; 
    margin-right:auto;
    margin-top:0;
}


/***********************************************
    Vorschaubild der Diagramme im Analysebereich
***********************************************/
#diagrammPreview {
    text-align:center;
}
.diagrammPreview {
    width:140px;
    height:100px;
    border:5px solid rgb(140,188,62);
    border-radius:3px;
}
.diagrammPreview:hover {
    width:140px;
    height:100px;
    border:5px solid rgb(140,188,62);
    border-radius:3px;
    background-color: rgb(248,248,248);
}




/***********************************************
    Interpolationen
    (standardmäßig ausgeblendet)
***********************************************/
#interpolation {}

#interpolationBox {
    display:block;
}

#interpolationBox ul {
    list-style-type: none;
    display: inline;
    margin:0px;
    padding:0px;
}

#interpolationBox li {
    display: table-cell;
    padding-left:3px;
    font-size:11pt;
    font-weight:bold;
}

.info {
    background:rgb(255,255,255);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
    color: rgb(0,0,0);
    font-weight:bold;
    border-radius: 18px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

.info:hover {
    background:rgb(244,244,244);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
    color: rgb(0,0,0);
    font-weight:bold;
    border-radius: 18px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}




/***********************************************
    Fußzeile (momentan nicht benutzt)
***********************************************/
footer {
    background-color:rgb(22,127,193);
    position:absolute;
    bottom:0px;
    margin-left:0%;
    margin-right:0%;
    width: 100%;
    color: rgb(255,255,255);
}

#footerLine_1 {
    background-color:rgb(140,188,62);
    margin-left:0%;
    margin-right:0%;
    height:5px;
    width:100%;
}


#footerLine_2 {
    background-color: rgb(60,164,116);
    margin-left:0%;
    margin-right:0%;
    height:5px;
    width:100%;
}

#footerText {
    height: 30px;
    padding-left:1%;
    padding-right:0%;
    padding-top:5px; 
    padding-bottom:5px;
    float: left;
    margin-left:0%;
    width:39%;
    background-color:rgb(22,127,193);
}


/***********************************************
    Links auf der rechten Seite des Footers
***********************************************/
#footerShortLinks {
    height: 30px;
    padding-left:0%;
    padding-right:10%;
    padding-top:-15px;
    padding-bottom:10px;
    margin-right:0%;
    width:50%;
    float:left;
    background-color:rgb(22,127,193);
    text-align:right;
}

#footerShortLinks li{
    display: inline;
    margin-left:10px;
    
}
#footerShortLinks ul {
    list-style-type: none;
}

#footerText  a {
    color:rgb(255,255,255);
    text-decoration:none;
}

#footerText  a:hover {
    color:rgb(255,255,255);
    text-decoration:underline;
}

#footerShortLinks a {
    color:rgb(255,255,255);
    text-decoration:none;
    font-weight:bold;
}

#footerShortLinks a:hover {
    color:rgb(255,255,255);
    text-decoration:underline;
    font-weight:bold;
}

/***********************************************
    Ladebild bei Popups 
***********************************************/
.loading_box{
    text-align:center;
    margin-top:50px;
}

.loading_picture{
    width:50px;
    height:48px;
}

/***********************************************

    Diagramm Popup
***********************************************/
#diagramBar {
    margin: 0 auto;
    text-align: center;
    width:100%;
    border-bottom: 2px dotted rgb(22,127,193);
    font-size: 11pt;
    color: rgb(22,127,193);
}

#diagramBar ul {
    list-style:none;
    margin:0;
    padding:0;
}
#diagramBar li {
    display:inline-block;
	list-style-type: none;
    margin-left:10px;
    margin-right:10px;
    color:rgb(22,127,193);
    padding-bottom:5px;
}

#diagram_zeichnung {
text-align: center;
}

