/********************************************************************************************
		Stylesheet for the portal webpages
		
Description: This file contains all layout and design styles to format the webpages: 
    - index.html
    - help.html
    - docu.html
    - impressum.html
Authors: Nicholas Schiestel and Johanna Moellmann

********************************************************************************************
Content

1. General document properties

2. Header
    2.1 General settings
    2.1 Navigation in header

3. Content area
	3.1 General settings
	3.2 Links in content area (used in tables of content)
    3.3 Links in content area (used in normal conent)
    3.4 Text float clearing

4. Footer
    4.1 General settings
    4.2 Links in Footer area

5.  Special settings for page formatting 
    5.1 Thumbnail-pictures to preview screenshots with captions
    5.2 Thumbnail on the home page with a link to the application
    5.3 Subnavigation under chapter to navigate faster in the user help and documentation
    5.4 Dividing lines
    5.5 Team-member-pictures in the impressum page
    5.6 nested lists with numbering in the  user help and in the dokmentation
    5.7 Headings
    5.8 Pictures in the documentation
    5.9 Errortable
    5.10 Systemrequirementtable
    5.11 Intervaltables

*********************************************************************************************/


/***********************************************
    1. General document properties
***********************************************/
html, body {
    background-color:rgb(252,252,252);
    margin:0px;
    padding:0px;
    word-wrap:break-word;
    font-family:Droid Sans; /*, Helvetica, Arial;*/
    height:100%;
}

header, nav, footer, article {
    display:block;
}

#main{
    min-height:100%;
    position:relative;
}


/***********************************************
    2. Header

    2.1 General settings
***********************************************/
header {
    margin-left:10%;
    margin-right:10%;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:0px;
    padding-top:20px;
    height: auto;   
}

.logoImage {
    width:300px;
    height:131px;
    border:0px;
}

/***********************************************
    2.2 Navigation in header
***********************************************/
nav {
    text-align:center;
    margin-top: 20px;
    margin-left:10%;
    margin-right:10%;
    background-color:rgb(22,127,193);
    margin-bottom:30px;
    height: 43px;
    border-radius:5px;
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px#999;
    box-shadow: 0 0 5px #999;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
}

nav ul a{
    color: rgb(255,255,255);
    margin-left: 5px;
    margin-right: 5px;
    text-decoration:none;
    letter-spacing: 0.5px;
    font-size:20px;
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
    display:inline-block;
    vertical-align:middle;
}

nav ul a:hover{
    color:rgb(22,127,193);
    margin-left: 5px;
    margin-right: 5px;
    text-decoration:none;
    letter-spacing: 0.5px;
    font-size:20px;
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
    display:inline-block;
    vertical-align:middle;
    background-color:rgb(255,255,255);
}



/***********************************************
    3. Content area
    
    3.1 General settings
***********************************************/
#content {
    padding-bottom: 230px;
}

#contentDocu{
    font-size: 12pt;
    font-weight: none;
}

#contentDocu li, #contentHelp li {
    margin-bottom:10px;
}

article {
    background-color:rgb(255,255,255);
    margin-left:10%;
    margin-right:10%;
    animation-iteration-count: height: auto;
    border-radius: 5px;
    padding: 50px;
    height:auto;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    text-align:justify
}


/***********************************************
     3.2 Links in content area 
         (used in tables of content)
***********************************************/
#tableOfContent li a {
    text-decoration:none;
    color:rgb(22,127,193);
    font-size: 12pt;
}

#tableOfContent li a:hover {
    text-decoration:underline;
    color:rgb(22,127,193);
    font-size: 12pt;
}

/***********************************************
    3.3 Links in content area
        (used in normal conent)
***********************************************/
.link {
    text-decoration:none;
    color:rgb(22,127,193);
}

.link:hover {
    text-decoration:underline;
    color:rgb(22,127,193);
}


/***********************************************
   3.4 Text float clearing
***********************************************/
#clear {
    clear:both;
}


/***********************************************
    4. Footer
    
    4.1 General settings
***********************************************/
footer {
    background-color:rgb(22,127,193);
    margin-left:0%;
    margin-right:0%;
    width: 100%;
    color: rgb(255,255,255);
    position:absolute;
    bottom:0px;
    height:auto;
    clear:both;
}

#footerLine_1 {
    background-color:rgb(140,188,62);
    margin-left:0%;
    margin-right:0%;
    height:30px;
    width:100%;
}


#footerLine_2 {
    background-color: rgb(60,164,116);
    margin-left:0%;
    margin-right:0%;
    height:5px;
    width:100%;
}

#footerText {
    height: 80px;
    padding-left:10%;
    padding-right:0%;
    padding-top:40px; 
    padding-bottom:20px;
    float: left;
    margin-left:0%;
    width:30%;
    background-color:rgb(22,127,193);
}

/***********************************************
     4.2 Links in Footer area
***********************************************/
#footerShortLinks {
    height: 80px;
    padding-left:0%;
    padding-right:10%;
    padding-top:40px; 
    padding-bottom:20px;
    margin-right:0%;
    width:50%;
    float:left;
    background-color:rgb(22,127,193);
    text-align:right;
}


#footerShortLinks li{
    display: inline;
    margin-left:10px;
    
}
#footerShortLinks ul {
    list-style-type: none;
}

#footerText a {
    color:rgb(255,255,255);
    text-decoration:none;
}

#footerText a:hover {
    color:rgb(255,255,255);
    text-decoration:underline;
}

#footerShortLinks a {
    color:rgb(255,255,255);
    text-decoration:none;
    font-weight:bold;
}

#footerShortLinks a:hover {
    color:rgb(255,255,255);
    text-decoration:underline;
    font-weight:bold;
}

.footerLinks {
    color:rgb(255,255,255);
    text-decoration:none;
    font-weight:bold;
}

.footerLinks :hover {
    color:rgb(255,255,255);
    text-decoration:underline;
    font-weight:bold;
}


/***********************************************
    5.  Special settings for page formatting

    5.1 Thumbnail-pictures to preview  
        screenshots with captions
***********************************************/
.image {
    border-left: 15px solid rgb(140,188,62);
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    color:rgb(0,0,0);
    text-align:center;
}

.imageNoBorder{
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    color:rgb(0,0,0);
    text-align:center;
}

.imageBoxLeft {
    float:left;
    margin-right: 40px;
    text-align:center;
    margin-bottom: 15px;
    margin-top: 30px;
}

.imageBoxLeft_2 {
    float:left;
    margin-right: 40px;
    text-align:center;
    margin-bottom: 15px;
    margin-top: 5px;
}

.imageBoxRight {
    float:right;
    margin-left: 40px;
    text-align:center;
    margin-bottom: 15px;
    margin-top: 5px;
}

.imageBoxRight_2 {
    float:right;
    margin-left: 40px;
    text-align:center;
    margin-bottom: 15px;
    margin-top: 30px;
}

.imageCaption{
    margin-top:3px;
    padding-top:3px;
    font-size:10pt;
}

.imageCaption2{
    margin-top:3px;
    padding-top:3px;
    font-size:13pt;
    font-weight: bold;
}

/***********************************************
    5.2 Thumbnail on the home page
        with a link to the application
***********************************************/
.imageBoxRightStart {
    float:right;
    margin-left: 60px;
    text-align:center;
    margin-top:20px;
}

.imagelink, .imagelink:hover, .imagelink:active{
    color:rgb(22,127,193);
    text-decoration:none;
}

/***********************************************
    5.3 Subnavigation under chapter to navigate
        faster in the user help and documentation
***********************************************/
#next {
    text-align:right;
    padding-top:10px;
}

#next a {
    font-size:8pt;
    text-decoration:none;
    color:rgb(22,127,193);
}

#next a:hover {
    font-size:8pt;
    text-decoration:underline;
    color:rgb(22,127,193);
}


/***********************************************
    5.4 Dividing lines
***********************************************/
hr {
    background-color: rgb(204,204,204);
    height:1px;
    border:0px;
}


/***********************************************
    5.5 Team-member-pictures in the impressum page
***********************************************/
.teamMembers {
    list-style-type: none;
}

.teamMembers li {
    display: block;
    font-size:16pt;
}

.teamImages {
    border-radius:70px;
    border: 5px solid rgb(140,188,62);
    float:left;
    margin-top:-20px;
    margin-right: 60px;
    width: 80px;
    height: 80px;
}

.teamMembers a{
    color:rgb(22,127,193);
    text-decoration:none;
    font-size:13pt;
}

.teamMembers a:hover{
    color:rgb(22,127,193);
    text-decoration:underline;
    font-size:13pt;
}

/***********************************************
    5.6 nested lists with numbering in the 
        user help and in the dokmentation
***********************************************/
ol.firstLevel {
	counter-reset:listenpunkt_ebene1;
	list-style-type:none;
}
ol.firstLevel li:before {
	content: counter(listenpunkt_ebene1) ". ";
	counter-increment:listenpunkt_ebene1;
}
ol.secondLevel {
	counter-reset:listenpunkt_ebene2;
	list-style-type:none;
    margin-left:-25px;
}
ol.secondLevel li:before {
	content: counter(listenpunkt_ebene1)"."counter(listenpunkt_ebene2,decimal) ". ";
	counter-increment:listenpunkt_ebene2;
}


/***********************************************
    5.7 Headings
***********************************************/
h1 {
    font-size: 20pt;
    font-weight: bold;
}

h2 {
    font-size: 18pt;
    font-weight: bold;
}

h3 {
    font-size: 16pt;
    font-weight: bold;
}

h4 {
    font-size: 14pt;
    font-weight: bold;
}

/***********************************************
    5.8 Pictures in the documentation
***********************************************/
.imageUbuntu {
    height: 90px;
    float:right;
    margin-left:20px;
    margin-bottom:50px;
    margin-top:-30px;
}

.imageApache {
    height: 60px;
    float:right;
    margin-left:20px;
    margin-bottom:50px;
    margin-top:-20px;
}

.imageProftpd {
    height: 80px;
    float:right;
    margin-left:20px;
    margin-top:-20px;
}

.imageWebstandards {
    width: ;
    height: 130px;
    float:right;
    margin-left:20px;
    margin-top:-30px;
}

.imageLeaflet {
    width: ;
    height: 80px;
    float:right;
    margin-left:20px;
    margin-bottom:20px;
}

.imageHighcharts {
    background-color:rgb(100,100,100);
    padding:10px;
    border-radius:4px;
    height: 70px;
    float:right;
    margin-left:20px;
    margin-bottom:20px;
}

.imageJQuery {
    background-color:rgb(7,105,173);
    padding-top:10px;
    padding-bottom:10px;
    padding-left:14px;
    padding-right:15px;
    border-radius:4px;
    width: ;
    height: 60px;
    float:right;
    margin-left:20px;
    margin-bottom:20px;
}

.imageJQueryUI {
    background-color: rgb(178,73,38);
    padding:10px;
    border-radius:4px;
    height: 60px;
    float:right;
    margin-left:20px;
    margin-bottom:20px;
}

.imageShadowbox {
    background-color: rgb(48,48,48);
    padding:10px;
    border-radius:4px;
    float:right;
    margin-left:20px;
    margin-bottom:20px;
}

.imageEnviroCar {
    height: 60px;
    float:right;
    margin-left:20px;
    margin-bottom:20px;
}

.imageMean {
    float:right;
    margin-left:20px;
}

.imageSTD {
    float:right;
    margin-left:20px;
}


/***********************************************
    5.9 Errortable
***********************************************/
.errors {
    border: 1px solid #ddd;
    margin:0 auto;
    width:100%;
    display: table;
    border-collapse: collapse;
    font-family: Arial;
    overflow: scroll;
}

.errors tr {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    display: table-row;
}

.errorsGrey {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    display: table-row;
    background-color: rgb(248,248,248);
}

.errors th {
    padding: 8px 16px;
    margin: 0;
    outline: 0;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 13pt;
    font-weight: bold;
}

.errors td {
    padding: 8px 15px;
    margin: 0;
    outline: 0;
    text-align:justify;
    vertical-align: top;
    border: 1px solid #ddd;
}

#errorCodes {
    font-size: 13pt;
    font-weight: bold;
    width:50px;
    text-align: center;
    vertical-align: middle;
}

#errorMessage{
    width:50%;
    font-family:Droid Sans; 
}

#errorSolution{
    width:50%;
    font-family:Droid Sans; 
}

/***********************************************
    5.10 Systemrequirementtable
***********************************************/
#requirements {
    font-size: 13pt;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
}

#requirementsText {
    font-family:Droid Sans; 
}


/***********************************************
    5.11 Intervaltables
***********************************************/
.intervalTable {
    border: 1px solid #ddd;
    margin:0 auto;
    width:100%;
    display: table;
    border-collapse: collapse;
    font-family: Arial;
    overflow: scroll;
}

.intervalTable td{
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0;
    outline: 0;
    text-align:center;
    vertical-align: middle;
    border: 1px solid #ddd;
}

.interval {
    font-size: 9pt;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(255,255,255);
    height:auto;
    width:auto;
}

.intervalGrey {
    font-size: 9pt;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(248,248,248);
    height:auto;
    width:auto;
}

.intervalLast {
    font-size: 9pt;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: rgb(255,255,255);
    background-color: rgb(255,165,0);
    height:auto;
    width:auto;
}


/***********************************************
    5.12 Systemrequirementtable
***********************************************/
#structure {
    font-size: 13pt;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

#structureText {
    font-family:Droid Sans; 
}


