body {
    background-color:rgb(252,252,252);
    margin-left:0%;
    margin-right:0%;
    margin-top:0px;
    margin-bottom:0px;
    word-wrap:break-word;
    font-family:Droid Sans; /*, Helvetica, Arial;*/
}

/* Header */
header, nav, footer, article {
    display:block;
}

header {
    margin-left:10%;
    margin-right:10%;
    padding:5px;
    height: auto;   
}


/* Navigationsbereich */
nav {
    text-align:center;
    margin-top: 30px;
    margin-left:10%;
    margin-right:10%;
    background-color:rgb(22,127,193);
    margin-bottom:30px;
    height: 43px;
    border-radius:5px;
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px#999;
    box-shadow: 0 0 5px #999;
}

nav ul {
    list-style-type: none;
    
    
}

nav li {
    display: inline;
}

nav ul a{
    color: rgb(255,255,255);
    margin-left: 5px;
    margin-right: 5px;
    text-decoration:none;
    letter-spacing: 0.5px;
    font-size:20px;
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
    display:inline-block;
    vertical-align:middle;
}

nav ul a:hover{
    color:rgb(22,127,193);
    margin-left: 5px;
    margin-right: 5px;
    text-decoration:none;
    letter-spacing: 0.5px;
    font-size:20px;
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
    display:inline-block;
    vertical-align:middle;
    background-color:rgb(255,255,255);
}



/* Seiteninhalt */
article {
    background-color:rgb(255,255,255);
    margin-left:10%;
    margin-right:10%;
    animation-iteration-count: height: auto;
    border-radius: 5px;
    margin-bottom:30px;
    padding: 50px;
    height:auto;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    text-align:justify;
}

.imageLeftSide {
    border-left: 15px solid rgb(140,188,62);
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    float:left;
    margin-right: 60px;
}

.imageRightSide {
    border-left: 15px solid rgb(140,188,62);
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    float:right;
    margin-left: 60px;
}


#clear {
    clear:both;
}

/* Impressum - Teammitglieder */
.teamMembers {
    list-style-type: none;
}

.teamMembers li {
    display: block;
    font-size:16pt;
}

.teamImages {
    border-radius:70px;
    border: 5px solid rgb(140,188,62);
    float:left;
    margin-top:-10px;
    margin-right: 60px;
}

.teamMembers a{
    color:rgb(22,127,193);
    text-decoration:none;
    font-size:13pt;
}

.teamMembers a:hover{
    color:rgb(22,127,193);
    text-decoration:underline;
    font-size:13pt;
}


/* Fußzeile */
footer {
    background-color:rgb(22,127,193);
    margin-left:0%;
    margin-right:0%;
    width: 100%;
    color: rgb(255,255,255);
}

#footerLine_1 {
    background-color:rgb(140,188,62); /*rgb(60,164,116);*/
    margin-left:0%;
    margin-right:0%;
    height:30px;
    width:100%;
}


#footerLine_2 {
    background-color: rgb(60,164,116);/*rgb(212,212,212);*/
    margin-left:0%;
    margin-right:0%;
    height:5px;
    width:100%;
}

#footerText {
    height: 80px;
    padding-left:10%;
    padding-right:0%;
    padding-top:40px; 
    padding-bottom:20px;
    float: left;
    margin-left:0%;
    width:30%;
    background-color:rgb(22,127,193);
}

#footerShortLinks {
    height: 80px;
    padding-left:0%;
    padding-right:10%;
    padding-top:40px; 
    padding-bottom:20px;
    margin-right:0%;
    width:50%;
    float:left;
    background-color:rgb(22,127,193);
    text-align:right;
}

#footerShortLinks li{
    display: inline;
    margin-left:10px;
    
}
#footerShortLinks ul {
    list-style-type: none;
}

#footerText  a {
    color:rgb(255,255,255);
    text-decoration:none;
}

#footerText  a:hover {
    color:rgb(255,255,255);
    text-decoration:underline;
}

#footerShortLinks a {
    color:rgb(255,255,255);
    text-decoration:none;
    font-weight:bold;
}

#footerShortLinks a:hover {
    color:rgb(255,255,255);
    text-decoration:underline;
    font-weight:bold;
}
